:root{
  --base-font: 'Montserrat', sans-serif;
}
body{
  font-weight: bold;
}
.preview-image{
  border-radius: 50%; 
  max-height: 150px;
  max-width: 150px;
  min-height: 150px;
  min-width: 150px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}
.preview-image:hover {
  opacity: 0.5;
}
.container {
  position: relative;
  width: 100%;
  transition: .2s ease;
  display: flex;
  text-align: center;
}
#centroo{
  text-align: center;
}
.image {
  display: block;
  width: 100%;
  height: auto;
  transition: .2s ease;
}
#estudante{
  font-size: 1.3rem;
}
#psicologo{
  font-size: 1.3rem;
}
#selecionado{
  text-decoration: underline;
}
.container img{
  opacity: 1;
}
.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 150px;
  opacity: 0;
  transition: .2s ease;
  background-color: transparent;
  position: absolute;
  border-radius:50% ;
  margin-left: auto;
  margin-right: auto;
}
.container:hover{
  border-radius:50% ;
  cursor: pointer;
}
.container:hover .overlay {
  opacity: 1;
  border-radius:50% ;
}
.container:hover .text {
  opacity: 1;
}
.text {
  color: rgb(255, 255, 255);
  position: relative;
  font-size: 1rem;
  text-align: center;
  transform: translateY(70px);
  font-weight: bolder;
  background-color: rgba(35, 50, 50, 0.8);
  width: 150px;
}
* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: var(--base-font);
}

a {
	font-family: var(--base-font);
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #a64bf4;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: var(--base-font);
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}

input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: black;}
input:-moz-placeholder { color: black;}
input::-moz-placeholder { color: black;}
input:-ms-input-placeholder { color: black;}

textarea::-webkit-input-placeholder { color: black;}
textarea:-moz-placeholder { color: black;}
textarea::-moz-placeholder { color: black;}
textarea:-ms-input-placeholder { color: black;}

button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}
.cadastro-alternar{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  padding-top: 25px;
}

#texto1 {
  font-family: var(--base-font);
  font-size: 14px;
  line-height: 1.5;
  color: #666666;
  padding-top: 17px;
}

#texto2 {
  font-family: var(--base-font);
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  text-transform: uppercase;
}

.bg1 {background-color: #3b5998}
.bg2 {background-color: #1da1f2}
.bg3 {background-color: #ea4335}


.limiter {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wrap-login100 {
  width: 500px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 65px;
  padding-bottom: 54px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  opacity: 88%;
}

[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  display: block;
  font-family: var(--base-font);
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 49px;
}
.paddingb{
  margin-bottom: 23px;
}

[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
}

.label-input100 {
  font-family: var(--base-font);
  font-size: 14px;
  color: #333333;
  line-height: 1.5;
  padding-left: 7px;
}

.input100 {
  font-family: var(--base-font);
  font-size: 16px;
  color: #333333;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 55px;
  background: transparent;
  padding: 0 7px 0 43px;
}

.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::after {
  content: attr(data-symbol);
  font-family: Material-Design-Iconic-Font;
  color: #adadad;
  font-size: 22px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: calc(100% - 20px);
  bottom: 0;
  left: 0;
  padding-left: 13px;
  padding-top: 3px;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: #7f7f7f;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}


.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

.input100:focus + .focus-input100::after {
  color: #a64bf4;
}

.has-val.input100 + .focus-input100::after {
  color: #a64bf4;
}

[ Button ]*/
.container-login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wrap-login100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
  transition: ease-in 0.2s  ;

  box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -moz-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -webkit-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -o-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -ms-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
}

.login100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #09ff00;
  background: -webkit-linear-gradient(right, #ffd000, #09ff00, #ffd000, #09ff00);
  background: -o-linear-gradient(right, #ffd000, #09ff00, #ffd000, #09ff00);
  background: -moz-linear-gradient(right, #ffd000, #09ff00, #ffd000, #09ff00);
  background: linear-gradient(right, #ffd000, #09ff00, #ffd000, #09ff00);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn {
  font-family: var(--base-font);
  font-size: 16px;
  color: black;
  font-weight: bolder;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
  left: 0;
}

.wrap-login100-form-btn:hover {
  transform: translateY(-5px);
}

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  bottom: calc((100% - 20px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 2px;
  pointer-events: none;

  font-family: var(--base-font);
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  bottom: calc((100% - 20px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

.login100-social-item {
  font-size: 25px;
  color: #fff;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
}

.login100-social-item:hover {
  color: #fff;
  background-color: #333333;
}

@media (max-width: 576px) {
  .wrap-login100 {
    padding-left: 15px;
    padding-right: 15px;
  }
} 

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;dd
}
.lds-ripple div {
  position: absolute;
  border: 4px solid black;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    background-color: white;
    font-family: var(--base-font);
}
:root{
    --base-font: 'Montserrat', sans-serif;
    --titulo-font: 'Pacifico', cursive;
    --light-green: rgb(125, 230, 214);
}
.perfil{
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    height: 25vh;
    padding-top: 20vh;

}
.perfil_img{
    height: 25vh;
    width: auto;
    margin-right: auto;
    border-radius: 50%;
}
.perfil_section{
    display: table;
    width: 80%;
    font-size: 2rem;
}
.perfil_nome{
    font-size: 1.5rem;
    background-color: var(--light-green);
    padding: 1.5vh;
    height: auto;
    border-radius: 20px;
    margin-bottom: 2vh;
}
.perfil_bio{
    font-size: 1.3rem;
    background-color: var(--light-green);
    height: auto;
    padding: 1.5vh;
    border-radius: 20px;
}
#perfil_editarbio{
    margin-right: auto;
  
}
.perfil-pessoal{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
}
.perfil-pessoal h2{
    font-size: 2rem;
    padding-left: 1%;
}
.perfil-pessoal_container{
    background-color: var(--light-green);
    border-radius: 20px;
    padding: 1.5vh;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    height: auto;
    width: auto;
}
.perfil-pessoal_info{
    font-size: 1.5rem;
    background-color: var(--light-green);
    padding: 1.5vh;
    border-radius: 20px;
    margin-bottom: 1vh;
}
.perfil-pessoal_titulo{
    font-size: 1.8rem;
    padding-bottom: 10px;
    font-weight: bold;
}
.right{
    float: right;
}
#deletar-conta{
    height: auto;
    width: auto;
    position: fixed;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3vh;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
}
#deletar-blur{
    position: fixed;
    background-color: white;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    opacity: 0.5;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px); 
}
#deletar-centro{
    text-align: center;
}

.deletar-centro{
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
}
#deletar{
    width: inherit;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
}
#deletar-titulo{
    font-family: var(--base-font);
    text-align: center;
    font-size: 2rem;
    transform: translateY(5vh);
    padding-bottom: 5vh;
    padding-right: 5vh;
    padding-left: 5vh;
}
#center-poggers{
    display: flex;
    justify-content: center;
}

.deletar-botao{
    background-color: green;
    border: none;
    color: white;
    width: 40%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 2rem;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2vh;
}


/* CSS */
.botao-deletar {
    background-color: #36A9AE;
    background-image: linear-gradient(#37ADB2, #329CA0);
    border: 1px solid #2A8387;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: var(--base-font);
    font-size: 17px;
    line-height: 100%;
    margin: 10px;
    outline: 0;
    padding: 11px 15px 12px;
    text-align: center;
    transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 40%;
    padding-bottom: 2vh;
    padding: 16px 32px;

}

.botao-deletar:hover {
    box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset, rgba(0, 0, 0, 0.4) 0 1px 2px;
    text-decoration: none;
    transition-duration: .15s, .15s;
}
.botao-deletar:active {
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}
.botao-deletar:disabled {
    cursor: not-allowed;
    opacity: .6;
}
.botao-deletar:disabled:active {
    pointer-events: none;
}
.botao-deletar:disabled:hover {
    box-shadow: none;
}

.botao-menu {
    background-color: #36A9AE;
    background-image: linear-gradient(#37ADB2, #329CA0);
    border: 1px solid #2A8387;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: var(--base-font);
    font-size: 17px;
    line-height: 100%;
    outline: 0;
    padding: 11px 15px 12px;
    text-align: center;
    transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 30%;
    padding-bottom: 2vh;
    padding: 16px 32px;
    margin-right: auto;
    margin-left: auto;
}
.botao-menu:hover {
    box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset, rgba(0, 0, 0, 0.4) 0 1px 2px;
    text-decoration: none;
    transition-duration: .15s, .15s;
}
.botao-menu:active {
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}
.botao-menu:disabled {
    cursor: not-allowed;
    opacity: .6;
}
.botao-menu:disabled:active {
    pointer-events: none;
}
.botao-menu:disabled:hover {
    box-shadow: none;
}
.botoes{
    margin-left: 15vw;
    margin-right: 15vw;
    display: flex;
    padding-bottom: 5vh;
}